/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body{
	background: #E8E8E7;

}

#user-sesion h2{
	text-align: center;
}

img{

	height: 250px;
	width: 250px;
}

.th{
	width: 100%;
}

#profile h1 {
	text-align: center;

}

#profile h3{
	text-align: center;


}

#profile h4{
	text-align: center;
	color: orange;

}

#image-detail img{
	margin: 100px auto;

	height: 400px;
	width: 100%;
}
.portrait{
	height: 250%;
	width: 25%;
	margin: 0px;
	float: left;
}

.options{
	height: 60px;
}

footer{
	margin-bottom: 0px;
}